# This is an example keystore.properties file.

debugStoreFile=/path/to/your.debug.keystore
debugStorePassword=debug_password
debugKeyAlias=debug_alias
debugKeyPassword=debug_kestore_password

releaseStoreFile=/path/to/your.release.keystore
releaseStorePassword=release_password
releaseKeyAlias=release_alias
releaseKeyPassword=release_kestore_password